<!DOCTYPE html>
<html lang="en">

<head>
    <title>文藝表演及活動查詢平台</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href=" https://fonts.googleapis.com/css?family=Noto+Sans+TC" type='text/css'>
    <link rel="stylesheet" href="/css/main.css" id="maincss">
</head>

<body>
    <%- include('jumbotron') %>
    <%- include('navbar') %>
    <!-- navbar end -->
    <div class='row'>
        <%- include('sidemenu') %>
        <div class="col-sm-8" style="margin:30px">
            <div class="card">
                <div class=" card-header">
                    <div class="row">
                        <div class="col-sm-10">
                            <%= result.title%>
                        </div>
                        <div class="col-sm-2">
                        </div>

                    </div>
                </div>
                <div class="card-body">
                    <div class="row media">
                        <% if(result.imageUrl!="") {%>
                        <img src="<%= result.imageUrl %>" class="align-self-center mr-3" style="max-width:100%;">
                        <% } %>

                    </div>
                    <div class="row">
                        <p class="col-sm-10 card-text">類別:
                            <% 
                                if (result.category == '1') { %> 音樂表演 <% } 
                                else if (result.category == '2') { %> 戲劇表演 <% } 
                                else if (result.category == '3') { %> 舞蹈表演 <% } 
                                else if (result.category == '4') { %> 親子活動 <% } 
                                else if (result.category == '5') { %> 獨立音樂 <% } 
                                else if (result.category == '6') { %> 展覽資訊 <% }
                                else if (result.category == '7') { %> 講座資訊 <% } 
                                else if (result.category == '8') { %> 電影 <% } 
                                else if (result.category == '11') { %> 綜藝活動 <% }  
                                else if (result.category == '13') { %> 競賽活動 <% } 
                                else if (result.category == '14') { %> 徵選活動 <% }
                                else if (result.category == '15') { %> 其他藝文資訊 <% } 
                                else if (result.category == '17') { %> 演唱會 <% } 
                                else if (result.category == '19') { %> 文化部研習課程 <% } 
                                else { %> - <% } 
                            %>
                        </p>
                        <p class="col-sm-10 card-text">活動簡介: <% if(result.descriptionFilterHtml==""){ %>
                            <無>
                                <% }else { %>
                                <%= result.descriptionFilterHtml%>
                                <% } %>
                        </p>
                        <p class="col-sm-10 card-text"> 主辦單位: <%= result.masterUnit%></p>
                        <p class="col-sm-10 card-text"> 購票網址:
                            <a href="<%= result.webSales %>" class="card-link"> <%= result.sourceWebName%></a>
                        </p>
                        <p class="col-sm-10 card-text"> 場次:</p>
                        <div class="accordion" id="accordionExample">

                            <% for(var i=0;i<result.showInfo.length;i++){ %>
                            <div class="card">
                                <div class="card-header" id="heading.item-<%= i%>">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link" type="button" data-toggle="collapse"
                                            data-target="#collapse-<%= i%>" aria-expanded="false"
                                            aria-controls="collapse-<%= i%>">
                                            <p class="col-lg-10 card-text">
                                                <%= result.showInfo[i].time.getFullYear()%>
                                                <%= result.showInfo[i].time.getMonth()+1%>/<%=result.showInfo[i].time.getDate()%>(<% if (result.showInfo[i].time.getDay() == '0') { %>
                                                日 <% } else if (result.showInfo[i].time.getDay() == '1') { %> 一
                                                <% } else if (result.showInfo[i].time.getDay() == '2') { %> 二
                                                <% } else if (result.showInfo[i].time.getDay() == '3') { %> 三
                                                <% } else if (result.showInfo[i].time.getDay() == '4') { %> 四
                                                <% } else if (result.showInfo[i].time.getDay() == '5') { %> 五
                                                <% }else if (result.showInfo[i].time.getDay() == '6') { %> 六
                                                <% } else { %> - <% } %>)
                                                <%= result.showInfo[i].time.getHours()%> :
                                                <%= ('0' + result.showInfo[i].time.getMinutes()).slice(-2)%>

                                            </p>
                                        </button>
                                    </h2>
                                </div>

                                <div id="collapse-<%= i%>" class="collapse" aria-labelledby="heading.item-<%= i%>"
                                    data-parent="#accordionExample">
                                    <div class="card-body">
                                        <p class="col-sm-12 card-text">地點: <%= result.showInfo[i].locationName%></p>
                                        <p class="col-sm-12 card-text">地址: <%= result.showInfo[i].location%></p>
                                        <p class="col-sm-12 card-text">票價: <%= result.showInfo[i].price%></p>
                                    </div>
                                </div>
                            </div>
                            <% } %>


                        </div>


                        <!--
                        <p class="col-sm-10 card-text">時間: </p>
                        <p class="col-sm-10 card-text">地點: <%= result.location%><%= result.locationName%></p>
                        <p class="col-sm-10 card-text">票價: <%= result.price%></p>
                       

                        <p class="col-sm-10 card-text">折扣: <%= result.onSales%></p>
                        <p class="col-sm-10 card-text">主辦單位: <%= result.masterUnit%></p>
                        <p class="col-sm-10 card-text">活動官網: <%= result.sourceWebName%></p>
                        <p class="col-sm-10 card-text">附註: <% if(result.comment==""){ %>
                            <無>
                                <% }else { %>
                                <%= result.comment%>
                                <% } %> </p>
                        -->
                    </div>
                </div>
            </div>
            <!--                <div class="card-footer">表演網站連結</div >-->

        </div>





    </div>



</body>

</html>